.bar-container {

    display: grid;
    place-items: center;
    height: 100vh;

}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    text-decoration: none;
    color: #333;
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    height: 450px;
}

.card img {
    max-width: 100%;
    height: 250px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
}

.card h2 a {
    color: #007bff;
    text-decoration: underline;
}